<div class="section">
  <h1 class="section__heading">Issues</h1>
  <div class="issues-wrapper">
    <% viewData.issues.forEach(issue => { %>
    <div class="issue" data-id="<%= issue.id %>">
      <div class="issue__header">
        <h2 class="issue__title"><%= issue.title %></h2>
        <span class="issue__meta">edited by <%= issue.user %> <%= issue.updated %></span>
        <div class="issue__header-buttons">
          <button class="btn btn--sm btn--decline">Close</button>
          <button class="btn btn--sm btn--main">Reopen</button>
        </div>
      </div>
      <p class="issue__description"><%= issue.description %> </p>
      <div class="issue__footer">
        <a href="./edit/<%= issue.id %> ">
          <button class="btn btn--sm btn--main">Edit</button>
        </a> 
      </div>
    </div>
    <% }) %>
  </div>
</div>
